@model EmployeeCrudPdf.Models.Employee



<h3>Delete Employee</h3>
<div class="alert alert-warning">Are you sure you want to delete this employee?</div>
<dl class="row">
  <dt class="col-sm-3">Name</dt><dd class="col-sm-9">@Model.Name</dd>
  <dt class="col-sm-3">Department</dt><dd class="col-sm-9">@Model.Department</dd>
  <dt class="col-sm-3">Email</dt><dd class="col-sm-9">@Model.Email</dd>
  <dt class="col-sm-3">Salary</dt><dd class="col-sm-9">@Model.Salary.ToString("C")</dd>
</dl>
<form asp-action="Delete" method="post">
  <input type="hidden" asp-for="Id" />
  <button type="submit" class="btn btn-danger"  data-log="Employees/DeleteButton" >Delete</button>
  <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.Id">Cancel</a>
</form>
